<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Embed Graph</h3>
</div>
<div class="modal-body">

  <div class="editor-row">
    <div class="section">
      <div class="editor-option">
        <label class="small">Width</label>
        <input class="input-small" type="text" ng-model="embed_width" />
      </div>

      <div class="editor-option">
        <label class="small">Height</label>
        <input class="input-small" type="text" ng-model="embed_height" />
      </div>

      <div class="editor-option">
        <label class="small">RelativeTime</label>
        <select ng-model="relativeTime"
                ng-options="option as option for option in ['5m','15m','1h','6h','12h','24h','2d','7d','30d']"
                ng-init="relativeTime='7d'"></select>
      </div>

      <div class="editor-option">
        <label class="small">Show TimePicker</label>
        <input type="checkbox" ng-model="embed_navbar" />
      </div>

    </div>
  </div>

  <div class="row-fluid">
    <h4>HTML</h4>
    <pre>&lt;iframe width="{{embed_width}}" height="{{embed_height}}" src="{{config.elasticsearch}}/#/embed/{{routeParams.kbnType}}/{{routeParams.kbnId}}/pannel/{{current_panel}}<span ng-hide="embed_navbar">/navbar/false</span>/{{relativeTime}}<span ng-show="_gets">{{_gets}}</span>" frameborder="0"&gt;&lt;/iframe&gt;</pre>

  </div>
  <div class="row-fluid">
    <h4>Preview</h4>

    <iframe width="{{embed_width}}" height="{{embed_height}}" ng-src="{{config.elasticsearch}}/#/embed/{{routeParams.kbnType}}/{{routeParams.kbnId}}/pannel/{{current_panel}}{{embed_navbar?'':'/navbar/false'}}{{_gets?_gets:''}}/{{relativeTime}}" frameborder="0"></iframe>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" ng-click="dismiss()">Close</button>
</div>
